<!DOCTYPE html>
<html>
    <head>
        <title>Mis datos</title>
    </head>
    <body>
        <h1>Relación : Yo</h1>
        <h2>Nombre : {{name}}</h2>
        <h2>Edad : {{age}}</h2>

        <!--Escribe el enlace correcto para la fuente de la imagen en lugar de #. Las imágenes están presentes en la 
            carpeta static. Si no te gustan esas imágenes, también puedes usar unas tuyas -->
        <img src = "{{ url_for('static' , filename = 'me.jpg') }}" alt = "Haz referencia a tu imagen presente en la carpeta static" width = "200"/>
    </body>
</html>